<!DOCTYPE html>

<html lang="en">

<style type="text/css">
    
    .done {text-decoration: line-through;}
</style>
<body class="skin-blue sidebar-mini">
<div class="wrapper" id="app">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        
        <!-- Main content -->

        <div>

            <ul>

                <li :class="task.complete ? complete : incomplete"  v-for="task in tasks" @click="task.complete = !task.complete">
                {{ task.name }}
                </li>
            </ul>
        </div>

        <!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js" type="text/javascript"></script>
-->
<script src="../js/vue.js" type="text/javascript"></script>

        <script type="text/javascript">
            
            new Vue({
                el: '#app',
                data: {
                    complete: 'done',
                    incomplete: 'undone',
                    tasks: [

                        { name: "wash mr nubi", description: "wash my lovely dog", complete: true },
                        { name: "wash the car", description: "wash the red car", complete: true  },
                        { name: "make a cake",  description: "be careful with the kitchen", complete: true  },
                        { name: "diving",       description: "diving in a cold water" , complete: false }
                    ]

                 }  

                });
                
        </script>
</div>
</body>
</html>