<!DOCTYPE html>

<html lang="en">

<body class="skin-blue sidebar-mini">
<div class="wrapper" id="app">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <input type="text" v-model="message"> 
        <!-- Main content -->
        <section class="content">
            <!-- Your Page Content Here -->
          <pre> {{ $data | json }} </pre>
        </section><!-- /.content -->

        <textarea name="message" v-model="message">
        
        </textarea> 

        <form action="index.html" name="testForm" @submit.prevent="submitIt">
             <button name="send" @click="clickIt">Click and submit</button>    
        </form>

       
    </div><!-- /.content-wrapper -->


</div><!-- ./wrapper -->

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js" type="text/javascript"></script>
-->
<script src="../js/vue.js" type="text/javascript"></script>

<script type="text/javascript">
    
    new Vue({
        el: '#app',
        data: {
                message: 'hello'
            },
        methods: {
            submitIt : function(){
                alert('submit form');
            },
            clickIt : function(){
                alert('click button');
            }
        }    
    });
</script>

</body>
</html>