<!DOCTYPE html>

<html lang="en">

<body class="skin-blue sidebar-mini">
<div class="wrapper" id="app">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        
        <!-- Main content -->
        <section class="content">

            <div v-for="plan in plans">
                <plan :plan="plan" :active.sync='active'></plan>
            </div>
            <!-- Your Page Content Here -->
          <pre> {{ $data | json }} </pre>
        </section><!-- /.content -->

</div>

<template id="plan-template">
    <div>
        <span class="item">{{ plan.name }}</span>
        <span class="item">{{ plan.price }}</span>
        <button @click="setActivePlan" v-show="plan.name !== active.name">
        {{ isUpgrade ? "Upgrade" : "Downgrade" }}
        </button> 

        <span v-else>
            Selected
        </span>
    </div>
</template>

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js" type="text/javascript"></script>
-->
<script src="../js/vue.js" type="text/javascript"></script>

<script type="text/javascript">
    
    new Vue({
        el: '#app',
        data: {

            plans: [
                { name: 'Enterprise', price: 500 },
                { name: 'Profesional', price: 400 },
                { name: 'Personal', price: 300 },
                { name: 'free', price: 0}

                ],
           
            active : {}  

         },    

        components: {
            plan: {
                template: '#plan-template',

                props: ['plan', 'active'],

                methods: {
                    setActivePlan: function() {
                        this.active = this.plan;
                    }
                },

                computed: {
                    isUpgrade: function() {
                        return this.plan.price > this.active.price;
                    }
                }
            }
        }    


        });
        
</script>

</body>
</html>