<!DOCTYPE html>

<html lang="en">

<body class="skin-blue sidebar-mini">
<div class="wrapper" id="app">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <counter subject="Like"></counter>
        <counter subject="Dislike"></counter>
       
    </div><!-- /.content-wrapper -->

    <template id="counter-template">
        <h1>{{ subject }}</h1>
        <button @click="count += 1">{{ count }}</button> 
    </template>

</div><!-- ./wrapper -->

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js" type="text/javascript"></script>
-->
<script src="../js/vue.js" type="text/javascript"></script>

<script type="text/javascript">
    
    Vue.component('counter', {
        template: '#counter-template',

        props: ['subject'],
        data: function(){
            return { count: 0 };
        }
    });

    new Vue({
        el: '#app',
       
    });
</script>

</body>
</html>