<!DOCTYPE html>

<html lang="en">

<body class="skin-blue sidebar-mini">
<div class="wrapper" id="app">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

    <div>{{ fullName }}</div>
        <input type="text" v-model="first" placeholder="First name "> 

        <input type="text" v-model="last" placeholder="Last name "> 
        
        <!-- Main content -->
        <section class="content">
            <!-- Your Page Content Here -->
          <pre> {{ $data | json }} </pre>
        </section><!-- /.content -->

</div>

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js" type="text/javascript"></script>
-->
<script src="../js/vue.js" type="text/javascript"></script>

<script type="text/javascript">
    
    new Vue({
        el: '#app',
        data: {
                first: 'Rob',
                last: 'Schuh',
                fullName: ''
            },
        /*
        watch:  {
            first: function (first){
                this.fullName = first +' '+ this.last;
            },

            last: function (last){
                this.fullName = this.first +' '+last ;
            }
        }    */

        computed:{
            fullName : function(){
                this.first +' '+ this.last;
            }
        }

        });
        
</script>

</body>
</html>