<!DOCTYPE html>

<html lang="en">

<style type="text/css">
    
    .completed {text-decoration: line-through;}
</style>
<body class="skin-blue sidebar-mini">
<div class="wrapper" id="app">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        
        <!-- Main content -->

        <div id="app">

            <cs-tasks :list='tasks'></cs-tasks>
            
        </div>


        <template id="tasks-template">
        <h3>Remaining tasks ( {{ remaining }} )</h3>
             <ul v-show="list.length">

             <!-- :class note: add completed class if condition is tru "task.complete == true"-->
                <li :class="{ 'completed': task.completed }"  v-for="task in list" 
                @click="task.completed = !task.completed">
                {{ task.name }} complete: {{ task.completed }}
                <strong @click="deleteTask(task)">X</strong>
                </li>
            </ul>

            <p v-else> No tasks yet!! </p>
            <button @click="clearCompleted">Clear Completed</button> 
        </template>


        <!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js" type="text/javascript"></script>
-->
<script src="../js/vue.js" type="text/javascript"></script>

        <script type="text/javascript">
            
            Vue.component('cs-tasks', {
                template: '#tasks-template',
                props: ['list'],
                computed: { 

                    remaining: function() {
                        return this.list.filter(this.inProgress).length;
                    }
                },

                methods: {
                    isCompleted: function(task){
                        return task.completed;
                    },

                    inProgress: function(task){
                        return ! this.isCompleted(task);
                    },

                    deleteTask: function(task){
                        this.list.$remove(task);
                    },

                    clearCompleted: function(){
                        this.list = this.list.filter(this.inProgress);
                    }
                }

            });

            new Vue({
                el: '#app',
                data: {
                    tasks: [

                        { name: "wash mr nubi", description: "wash my lovely dog", completed: true },
                        { name: "wash the car", description: "wash the red car", completed: true  },
                        { name: "make a cake",  description: "be careful with the kitchen", completed: true  },
                        { name: "diving",       description: "diving in a cold water" , completed: false }
                    ]

                 }

        

            });
                
        </script>
      
        
</div>
</body>
</html>