<!DOCTYPE html>

<html lang="en">

<style type="text/css">
    
    .completed {text-decoration: line-through;}
</style>
<body class="skin-blue sidebar-mini">
<div class="wrapper" id="app">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        
        <!-- Main content -->

        <div id="app">

            <cs-tasks :list='tasks'></cs-tasks>
            
        </div>


        <template id="tasks-template">
            <h3>Remaining tasks ( {{ remaining }} )</h3>
             <ul>

             <!-- :class note: add completed class if condition is tru "task.complete == true"-->
                <li :class="{ 'completed': task.complete }"  v-for="task in list" 
                @click="task.complete = !task.complete">
                {{ task.name }} complete: {{ task.complete }}
                </li>
            </ul>

        </template>


        <!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js" type="text/javascript"></script>
-->
<script src="../js/vue.js" type="text/javascript"></script>

        <script type="text/javascript">
            
            Vue.component('cs-tasks', {
                template: '#tasks-template',
                props: ['list'],
                computed: { 

                    remaining: function() {

                    return this.list.filter(function(task){

                        return ! task.complete;
                        }).length;
                    }
                }

            });

            new Vue({
                el: '#app',
                data: {
                    tasks: [

                        { name: "wash mr nubi", description: "wash my lovely dog", complete: true },
                        { name: "wash the car", description: "wash the red car", complete: true  },
                        { name: "make a cake",  description: "be careful with the kitchen", complete: true  },
                        { name: "diving",       description: "diving in a cold water" , complete: false }
                    ]

                 }

        

            });
                
        </script>
      
        
</div>
</body>
</html>